@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
.fadeInOut {
  animation: fadeInOut 1.2s infinite;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 99999px;
}
